.white{
    background-color: #ececd0;
    height: 50px;
    width: 80px;
    font-size: 50px;
  }
  .black{
    background-color: #779557;
    height: 50px;
    width: 80px;
    font-size: 50px;
  }
  table{
    border: 5px solid black;
    margin-left: 300px;
  }
  h1{
    text-align: center;
    color: green;
  }
